.vis-drag-left,
.vis-drag-right {
  pointer-events: none;
}

.vis-custom-time {
  background-color: #e5bec8;
  pointer-events: none;
}

.vis-custom-time > .vis-custom-time-marker {
  white-space: nowrap;
  padding: 2px 5px;
}

.vis-item.vis-selected {
}

.vis-item .vis-delete:after {
  color: #000;
}

.vis-item .vis-delete:hover {
  background: transparent;
}

.vis-item .vis-delete:hover:after {
  color: red;
}

/* Cooldown styles */
.vis-item {
  --fg-color: #d5e4f6;
  --bg-color: #f1f8ff;
  --border-color: #bed4f0;
}

.vis-item.drk-reprisal,
.vis-item.war-reprisal {
  --fg-color: #f2d5f6;
  --bg-color: #fff1ff;
  --border-color: #ecbef0;
}

.vis-item.drk-rampart,
.vis-item.war-rampart {
  --fg-color: #d5e4f6;
  --bg-color: #f1f8ff;
  --border-color: #bed4f0;
}

.vis-item.drk-dark-missionary {
  --fg-color: #f6e1d5;
  --bg-color: #fff5f1;
  --border-color: #f0ccbe;
}

.vis-item.drk-shadow-wall {
  --fg-color: #ded5f6;
  --bg-color: #f4f1ff;
  --border-color: #c6bef0;
}

.vis-item.drk-dark-mind {
  --fg-color: #eee5ca;
  --bg-color: #f8f4e5;
  --border-color: #e2d5aa;
}

.vis-item.drk-living-dead {
  --fg-color: #f6d5d5;
  --bg-color: #fff1f1;
  --border-color: #f0bebe;
}

.vis-item.war-shake-it-off {
  --fg-color: #ceecea;
  --bg-color: #ecfcf9;
  --border-color: #b0ddd7;
}

.vis-item.war-vengeance {
  --fg-color: #e7d5f6;
  --bg-color: #f8f1ff;
  --border-color: #d5bef0;
}

.vis-item.war-thrill-of-battle {
  --fg-color: #cff0d3;
  --bg-color: #ecfced;
  --border-color: #b5e4b9;
}

.vis-item.war-equilibrium {
  --fg-color: #e5eecb;
  --bg-color: #f7fcec;
  --border-color: #d9e5b6;
}

.vis-item.war-holmgang {
  --fg-color: #f6d5d5;
  --bg-color: #fff1f1;
  --border-color: #f0bebe;
}
